[submodule "src/ros2-mindvision-camera"]
	path = src/ros2-mindvision-camera
	url = https://github.com/illini-robomaster/ros2-mindvision-camera.git
[submodule "src/irm_detection"]
	path = src/irm_detection
	url = https://github.com/illini-robomaster/irm_detection.git
