[submodule "src/irmv_camera"]
	path = src/irmv_camera
	url = https://github.com/illini-robomaster/irmv_camera.git

[submodule "src/irmv_detection"]
	path = src/irmv_detection
	url = https://github.com/illini-robomaster/irmv_detection.git

[submodule "src/irmv_serial"]
	path = src/irmv_serial
	url = https://github.com/illini-robomaster/irmv_serial.git
[submodule "src/irmv_aim"]
	path = src/irmv_aim
	url = https://github.com/illini-robomaster/irmv_aim.git
